{% extends "layout.html" %}

{% block content %}

{% set rcmnd_class = "%.1f" | format(row["rcmnd_class"] | float * 100) %}
{% set rcmnd_instr = "%.1f" | format(row["rcmnd_instr"] | float * 100) %}
{% set rcmnd_diff = "%.1f" | format(row["rcmnd_diff"] | float * 100) %}

{% set class_pctle = "%.1f" | format(rowp["rcmnd_class"] | float * 100) %}
{% set instr_pctle = "%.1f" | format(rowp["rcmnd_instr"] | float * 100) %}
{% set diff_pctle = "%.1f" | format(rowp["rcmnd_diff"] | float * 100) %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2><strong>{{ row["instr"] }}</strong></h2>
        <h3>teaching <strong>{{ row["course"] }}</strong></h3>
    </div>
</div>
<div class="container">
    <h4 style="margin-bottom: 0.75em;">Report Card</h4>
    <div class="card-columns">
        <div class="card {% if (class_pctle | float) > 75 %}border-success{% elif (class_pctle | float) > 50 %}{% elif (class_pctle | float) > 25 %}border-warning{% else %}border-danger{% endif %}">
            <div class="card-header {% if (class_pctle | float) > 75 %}bg-success text-white{% elif (class_pctle | float) > 50 %}{% elif (class_pctle | float) > 25 %}bg-warning text-white{% else %}bg-danger text-white{% endif %}">
                Average class approval
            </div>
            <div class="card-body">
                <!--
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                -->
                <h2 class="card-title">{{ rcmnd_class }}%</h2>
                <p class="card-text">out of <strong>{{ row["class_weighted_evals"] }} respondents</strong> approved of this course.</p>
                <hr />
                <h4>{{ class_pctle }}%</h4>
                <p class="card-text">of other course/professor combos have a lower instructor approval rating. This is <strong>{% if (class_pctle | float) < 50 %}below{% else %}above{% endif %} average.</strong></p>
            </div>
        </div>
        <div class="card {% if (instr_pctle | float) > 75 %}border-success{% elif (instr_pctle | float) > 50 %}{% elif (instr_pctle | float) > 25 %}border-warning{% else %}border-danger{% endif %}">
            <div class="card-header {% if (instr_pctle | float) > 75 %}bg-success text-white{% elif (instr_pctle | float) > 50 %}{% elif (instr_pctle | float) > 25 %}bg-warning text-white{% else %}bg-danger text-white{% endif %}">
                Average instructor approval
            </div>
            <div class="card-body">
                <h2 class="card-title">{{ rcmnd_instr }}%</h2>
                <p class="card-text">out of <strong>{{ row["instr_weighted_evals"] }} respondents</strong> approved of this instructor's teaching of the course.</p>
                <hr />
                <h4>{{ instr_pctle }}%</h4>
                <p class="card-text">of other course/professor combos have a lower instructor approval rating. This is <strong>{% if (instr_pctle | float) < 50 %}below{% else %}above{% endif %} average.</strong></p>
            </div>
        </div>
        <div class="card {% if (diff_pctle | float) > 75 %}border-success{% elif (diff_pctle | float) > 50 %}{% elif (diff_pctle | float) > 25 %}border-warning{% else %}border-danger{% endif %}">
            <div class="card-header {% if (diff_pctle | float) > 75 %}bg-success text-white{% elif (diff_pctle | float) > 50 %}{% elif (diff_pctle | float) > 25 %}bg-warning text-white{% else %}bg-danger text-white{% endif %}">
                Instructor-class rating differential
            </div>
            <div class="card-body">
                <h2 class="card-title">{{ rcmnd_diff }}%</h2>
                <p class="card-text">This percentage gives the difference between the instructor and class approval ratings. A higher value indicates a professor which can compensate for the negative qualities of a class.</p>
                <hr />
                <h4>{{ diff_pctle }}%</h4>
                <p class="card-text">of other course/professor combos have a lower differential. This is <strong>{% if (diff_pctle | float) < 50 %}below{% else %}above{% endif %} average.</strong></p>
            </div>
        </div>
    </div>
    <br />
    <h4 style="margin-bottom: 0.75em;">Visualizations</h4>
    <div class="card">
        <div class="card-header">
            Class approval comparison
        </div>
        <div class="card-body">
            <div id="class-comp-chart"></div>
            <p class="card-text">Hello world</p>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>

        const data = {{ other_profs | safe }};
    classComp = () => {
        var chartDiv = document.getElementById("class-comp-chart");
        var aspectRatio = 2.35;
        var height = 300;
        var width = height * aspectRatio;
        const margin = {top: 10, right: 25, bottom: 40, left: 35};

        x = d3.scaleLinear()
            .domain(d3.extent(data, d => d.rcmnd_class)).nice()
            .range([margin.left, width - margin.right])

        y = d3.scaleLinear()
            .domain(d3.extent(data, d => d.rcmnd_instr)).nice()
            .range([height - margin.bottom, margin.top])

        xAxis = g => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x))
            .call(g => g.select(".domain").remove())
            .call(g => g.append("text")
                .attr("x", width - margin.right)
                .attr("y", -4)
                .attr("fill", "#000")
                .attr("font-weight", "bold")
                .attr("text-anchor", "end")
                .text("% Rec. Class"))

        yAxis = g => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".domain").remove())
            .call(g => g.select(".tick:last-of-type text").clone()
                .attr("x", 4)
                .attr("text-anchor", "start")
                .attr("font-weight", "bold")
                .text("% Rec. Instr."))

        const svg = d3.select(chartDiv).append("svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", `0 0 ${width} ${height}`)

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        svg.append("g")
            .attr("stroke-width", 1.5)
            .attr("font-family", "sans-serif")
            .attr("font-size", 10)
            .selectAll("g")
            .data(data)
            .join("g")
            .attr("transform", d => `translate(${x(d.rcmnd_class)},${y(d.rcmnd_instr)})`)
            .attr("id", (d, i) => `circle_${i}`)
            .each((d, i) => { if (d.instr == "{{ row.instr }}") { d3.select(`#circle_${i}`).raise(); } })
            .call(g => g.append("circle")
                .attr("stroke", d => d.instr == "{{ row.instr }}" ? "red" : "steelblue")
                .attr("fill", d => d.instr == "{{ row.instr }}" ? "red" : "steelblue")
                .attr("r", d => d.instr == "{{ row.instr }}" ? 4 : 2));

        svg.append('line')
            .style("stroke", "gray")
            .style("stroke-width", 1)
            .style("stroke-dasharray", "2, 2")
            .attr("x1", x(d3.mean(data, d => d.rcmnd_class)))
            .attr("x2", x(d3.mean(data, d => d.rcmnd_class)))
            .attr("y1", margin.top)
            .attr("y2", height - margin.bottom);

        svg.append('line')
            .style("stroke", "gray")
            .style("stroke-width", 1)
            .style("stroke-dasharray", "2, 2")
            .attr("x1", margin.left)
            .attr("x2", width - margin.right)
            .attr("y1", y(d3.mean(data, d => d.rcmnd_instr)))
            .attr("y2", y(d3.mean(data, d => d.rcmnd_instr)));

        return svg.node();
    }

    classComp();
</script>
{% endblock %}
