{% extends "layout.html" %}

{% block content %}

<div class="main-home background-tint">
    <div class="container">
        <div class="row vh-100">
            <div class="col-6 my-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Choose the right classes. Make informed decisions.</h5>
                        <p class="card-text"><strong>Smartest CAPEs</strong> provides a system to search through UCSD's CAPEs dataset and discover insights about it. Type a class name and professor below to begin a search.</p>
                        <form method="GET" action="/listing">
                            <div class="form-group">
                                <label for="classIDInput">Class ID</label>
                                <input name="class" type="text" class="form-control form-control-lg" id="classIDInput" placeholder="CSE 12">
                            </div>
                            <div class="form-group">
                                <label for="professorInput">Professor</label>
                                <input name="professor" type="text" class="form-control form-control-lg" id="professorInput" placeholder="Gillespie">
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
