{% extends "layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2><strong>Course listing</strong></h2>
        <!--<h4><span class="badge badge-info">Class: x</span> <span class="badge badge-primary">Professor: y</span></h4>-->
        <br>
        <form>
            <div class="row">
                <div class="col form-group">
                    <label for="classIDInput">Class ID</label>
                    <input type="text" class="form-control form-control-lg" id="classIDInput" placeholder="CSE 11">
                </div>
                <div class="col form-group">
                    <label for="professorInput">Professor</label>
                    <input type="text" class="form-control form-control-lg" id="professorInput" placeholder="Moshiri">
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
