{% extends "layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2><strong>Course listing</strong></h2>
        <h4>{% if class_id %}<span class="badge badge-info">Class: {{ class_id }}</span>{% endif %} {% if prof %}<span class="badge badge-primary">Professor: {{ prof }}</span>{% endif %}</h4>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        {{ data | safe }}
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        $(".dataframe").DataTable({
            "pageLength": 50
        });
    });
</script>


{% endblock %}
