{% extends "layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2><strong>Course scheduler</strong></h2>
        <h4><span class="badge badge-info">Quarter: {{ qtr }}</span></h4>
        <h5>Input a list of courses you want to choose from, along with some preferences as to course scheduling, and we'll throw a quarter schedule your way!</h5>
    </div>
</div>
<div class="container">
    {% if err_code == "no_courses" %}
    <div class="alert alert-danger" role="alert">
        Please include at least one course.
    </div>
    {% endif %}
    <div class="scheduler-sec courses">
        <h4><strong>Course selection</strong></h4>
        <p><em>The courses Seascape should pick from</em></p>
        <form id="form-add-course" onsubmit="addCourse(); return false;" style="padding-bottom: 1em;">
            <div class="form-row">
                <div class="col-6">
                    <input id="course-name" name="course" type="text" class="form-control " placeholder="e.g. CSE 12" data-toggle="tooltip" data-placement="top" title="Name of course" required>
                </div>
                <div class="col-2">
                    <input id="course-prio" name="prio" type="number" min="0" max="100" class="form-control " value="50" placeholder="50" data-toggle="tooltip" data-placement="top" title="Priority of course, 0-100" required>
                </div>
                <div class="col-2">
                    <div class="btn-group d-flex btn-group-toggle btn-group-justified" data-toggle="buttons">
                        <label id="course-lecture" class="w-100 btn btn-secondary active" data-toggle="tooltip" data-placement="top" title="Attending lecture?">
                            <input type="checkbox" name="options" id="option1" autocomplete="off" checked> L
                        </label>
                        <label id="course-other" class="w-100 btn btn-secondary active" data-toggle="tooltip" data-placement="top" title="Attending things other than lecture?">
                            <input type="checkbox" name="options" id="option2" autocomplete="off" checked> O
                        </label>
                        <label id="course-waitlist" class="w-100 btn btn-secondary active" data-toggle="tooltip" data-placement="top" title="Schedule if full?">
                            <input type="checkbox" name="options" id="option3" autocomplete="off" checked> W
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <button id="btn-add-course" type="submit" class="btn btn-block btn-primary mb-2">Add</button>
                </div>
            </div>
        </form>
        <div class="course-list"></div>
    </div>
    <div class="scheduler-sec heuristics">
        <h4><strong>Heuristics</strong></h4>
        <p><em>The desired properties of your course schedule</em></p>
        <div class="form-row">
            <div class="col">
                <button onclick="defaultHeuristics();" id="btn-fill-defaults" class="btn btn-block btn-outline-secondary mb-2">Fill with default values</button>
            </div>
            <div class="col">
                <button onclick="resetHeuristics();" id="btn-fill-defaults" class="btn btn-block btn-outline-secondary mb-2">Reset values</button>
            </div>
        </div>
        <form id="heuristic-form" onsubmit="schedule(); return false;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Desired units</h5>
                    <p class="card-text">How many units do you want to take this quarter?</p>
                    <div class="form-row">
                        <div class="col">
                            <label for="min-units">Min units</label>
                            <input id="min-units" name="min-units" type="number" class="form-control" placeholder="e.g. 12" required>
                        </div>
                        <div class="col">
                            <label for="max-units">Max units</label>
                            <input id="max-units" name="max-units" type="number" class="form-control" placeholder="e.g. 16" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Professor/course approval</h5>
                    <p class="card-text">How heavily should Seascape weigh professor and course approval when selecting classes? Like other priority values, your answers should range from 0 to 100.</p>
                    <div class="form-row">
                        <div class="col">
                            <label for="prof-approval">Professor approval priority</label>
                            <input id="prof-approval" name="prof-approval" min="0" max="100" type="number" class="form-control " placeholder="e.g. 50" required>
                        </div>
                        <div class="col">
                            <label for="course-approval">Course approval priority</label>
                            <input id="course-approval" name="course-approval" min="0" max="100" type="number" class="form-control " placeholder="e.g. 50" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expected grade</h5>
                    <p class="card-text">What is the minimum quarter GPA you'd be happy with? How much better or worse do you do academically than the average UCSD student? And how much should Seascape weigh expected grades into its calculations?</p>
                    <div class="form-row">
                        <div class="col">
                            <label for="min-gpa">Min acceptable GPA</label>
                            <input id="min-gpa" name="min-gpa" type="number" step="0.01" min="0" max="4" class="form-control " placeholder="e.g. 3.50" required>
                        </div>
                        <div class="col">
                            <label for="gpa-offset">Your GPA offset (v. avg)</label>
                            <input id="gpa-offset" name="gpa-offset" step="0.01" min="-4" max="4" type="number" class="form-control " placeholder="e.g. 0.15" value="0.00" required>
                        </div>
                        <div class="col">
                            <label for="gpa-prio">GPA priority</label>
                            <input id="gpa-prio" name="gpa-prio" min="0" max="100" type="number" class="form-control " placeholder="e.g. 50" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Class location</h5>
                    <p class="card-text">Seascape will try to schedule such that all your classes are walkable in time. Do you care? And do you have a maximum walking distance?</p>
                    <div class="form-row">
                        <div class="col">
                            <label for="max-dist">Max walking distance (in minutes)</label>
                            <input id="max-dist" name="max-dist" type="number" min="0" class="form-control " placeholder="e.g. 15" required>
                        </div>
                        <div class="col">
                            <label for="dist-prio">Distance priority</label>
                            <input id="dist-prio" name="dist-prio" min="0" max="100" type="number" class="form-control " placeholder="e.g. 50" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Course date/time selection</h5>
                    <p class="card-text">When do you want to have your classes?</p>
                    <p class="card-text">
                        Each day corresponds to a text box; acceptable times should be input in the corresponding day's text box. If no time is input, Seascape will try to not schedule anything on that day. A range of times should be a start time, a hyphen (no space in between times!), and an end time. If you have multiple ranges of times, separate them with commas (no space in between ranges!).
                    </p>
                    <p class="card-text">
                        For example, if I wanted classes on Monday from 2-4pm and 6-8pm, I'd type the following in the box next to Monday: 2pm-4pm,6pm-8pm
                    </p>
                    <p class="card-text">
                        Completely empty input will be interpreted as no preference.
                    </p>
                    <div class="form-group row">
                        <label for="course-time-mon" class="col-sm-2 col-form-label">Monday</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="course-time-mon" name="course-time-mon" placeholder="2pm-4pm,6pm-8pm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="course-time-tue" class="col-sm-2 col-form-label">Tuesday</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="course-time-tue" name="course-time-tue" placeholder="2pm-4pm,6pm-8pm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="course-time-wed" class="col-sm-2 col-form-label">Wednesday</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="course-time-wed" name="course-time-wed" placeholder="2pm-4pm,6pm-8pm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="course-time-thu" class="col-sm-2 col-form-label">Thursday</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="course-time-thu" name="course-time-thu" placeholder="2pm-4pm,6pm-8pm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="course-time-fri" class="col-sm-2 col-form-label">Friday</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="course-time-fri" name="course-time-fri" placeholder="2pm-4pm,6pm-8pm">
                        </div>
                    </div>

                    <label for="course-time-prio">Course time priority</label>
                    <input id="course-time-prio" name="course-time-prio" min="0" max="100" type="number" class="form-control " placeholder="e.g. 50" required>
                </div>
            </div>
            <br />
            <button id="btn-schedule" style="height: 100%;" type="submit" class="btn btn-block btn-primary mb-2">Schedule! (this will take a while)</button>
        </form>
        <br />
        <div class="results"></div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    var courses = [];
    var cid = 0;

    function addCourse() {
        var courseName = $("#course-name").val().toUpperCase();
        var coursePrio = parseInt($("#course-prio").val());
        var lecture = $("#course-lecture").hasClass("active");
        var other = $("#course-other").hasClass("active");
        var waitlist = $("#course-waitlist").hasClass("active");

        var ldws = `(${lecture ? "L" : ""}${other ? "O" : ""}${waitlist ? "W" : ""})`
        
        $(".course-list").append(`
<div id="course-card-${cid}" class="card" style="margin-bottom: 0.5em;">
    <div class="card-body">
        <h6 style="margin-bottom: 0;" class="card-title"><strong>${courseName}</strong> ${ldws} <a onclick="removeCourse(${cid})" href="#" class="card-link">(Remove)</a><span class="text-muted" style="float: right;">Priority: ${coursePrio}/100</span></h6>
    </div>
</div>
`);
        courses.push({
            "cid": cid++,
            "name": courseName,
            "prio": coursePrio,
            "lecture": lecture,
            "other": other,
            "waitlist": waitlist,
        });
        $("#form-add-course").trigger("reset");
    }
    
    function removeCourse(cid) {
        for (var i = 0; i < courses.length; i++) {
            if (courses[i].cid == cid) {
                $(`#course-card-${courses[i].cid}`).remove();
                courses.splice(i, 1);
            }
        }
    }

    function schedule() {
        const vals = {
            minUnits: parseInt($("#min-units").val()),
            maxUnits: parseInt($("#max-units").val()),
            profApproval: parseInt($("#prof-approval").val()),
            courseApproval: parseInt($("#course-approval").val()),
            minGPA: parseFloat($("#min-gpa").val()),
            gpaOffset: parseFloat($("#gpa-offset").val()),
            gpaPrio: parseInt($("#gpa-prio").val()),
            maxDist: parseInt($("#max-dist").val()),
            distPrio: parseInt($("#dist-prio").val()),
            courseTimePrio: parseInt($("#course-time-prio").val()),
            courses: courses,
        };

        var form = document.createElement('form');
        form.method = "POST";
        form.action = "/schedule/automatic";
        var inp = document.createElement("input");
        inp.type = "hidden";
        inp.name = "sconf";
        inp.value = JSON.stringify(vals);
        form.appendChild(inp);
        document.body.appendChild(form);
        form.submit();
    }

    function defaultHeuristics() {
        $("#min-units").val("12");
        $("#max-units").val("16");
        $("#prof-approval").val("50");
        $("#course-approval").val("50");
        $("#min-gpa").val("3.00");
        $("#gpa-offset").val("0.00");
        $("#gpa-prio").val("50");
        $("#max-dist").val("30");
        $("#dist-prio").val("50");
        $("#course-time-prio").val("50");
    }

    function resetHeuristics() {
        $("#heuristic-form").trigger("reset");
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


{% endblock %}
